h3 {
  color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 31px;
  font-weight: 800;
}
h5 {
  color: #0a3724;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  line-height: 55px;
}
.banner-bg {
  background: #92b9a8;
  height: 100%;
}
.allcard {
  margin-top: 35px;
}
.row {
  row-gap: 25px;
  justify-content: center;
}
.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  border: none;
}
.card > img {
  border-radius: 16px 16px 0px 0px;
}
.card-body {
  display: flex;
  text-align: initial;
  flex-direction: column;
  padding: 5px;
}
.card-title {
  text-align: center;
}
.bannerimage > img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}
.card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Uploade";
  display: inline-block;
  background: #92b9a8;
  border: 2px dashed #0a3724;
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 4px;
  padding: 5px 8px;
  color: #0a3724;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border: 2px dashed #0a3724;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/* test page csss */
.filetype {
  display: flex;
  justify-content: inherit;
}
.maininput {
  display: flex;
  column-gap: 30px;
}
.submitbuttonform {
  display: flex;
  justify-content: start;
}
.table1,
.table2 {
  display: contents;
  margin-bottom: 20px;
}
.transaction-card {
  display: flex;
}
.transactionCardColor {
  background-color: #cee5db;
}
table > tr > th {
  color: #1c5a40;
}
.transactionbody {
  row-gap: 20px;
}
select {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background: transparent;
  border: 1px solid #1c5a40;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
}

.formop {
  width: 300px;
  height: 50px;
  position: relative;
}
.formop input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #1c5a40;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
}
.form label {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  line-height: 36px;
  font-weight: 500;
  padding: 0 5px;
}
.form input:valid ~ label,
.form input:focus ~ label {
  top: -18px;
  background-color: #fff;
}
.submitbuttonform {
  display: inline-flex;
}
.blockBtn {
  display: block;
  width: 100%;
  border: none;
  background-color: rgb(19, 0, 105);
  color: white;
  padding: 14px 28px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.card-info-1 {
  margin: 10px;
}
.user-list {
  display: block;
  width: 100%;
  padding: 0.8em 0em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #252525;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
  background-color: #92b9a8;
  border-radius: 8px;
  border: 2px dashed #0a3724;
}
.user-list:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
@media screen and (max-width: 468px) {
  .maininput {
    flex-direction: column;
    row-gap: 30px;
  }
  .card-info {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 325px) {
  .card-info {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
