.transactionfill {
  display: flex;
  column-gap: 30px;
}
.addbutton {
  display: flex;
}
.cardinput {
  display: flex;

  row-gap: 30px;
}

.formop1 {
  width: 300px;
  height: 50px;
  position: relative;
}
.formop1 input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #1c5a40;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
}
.formop1 label {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  line-height: 36px;
  font-weight: 500;
  padding: 0 5px;
}
.formop1 input:valid ~ label,
.formop1 input:focus ~ label {
  top: -18px;
  background-color: #fff;
}
.form2 {
  display: flex;
  justify-content: center;
}
.inputfatch {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.submitbuttonform {
  display: inline-flex;
}
/* dashboard */
.rounded-circle {
  width: 65px;
}
.table > thead > tr > th {
  color: #1c5a40;
  font-weight: 600;
}
.table > tbody > tr > td {
  font-family: "Be Vietnam Pro", sans-serif;
}

.badge-success {
  padding: 15px;
  font-size: 1rem;
  background: #4eb75f;
  color: #fff;
  display: inherit;
  font-family: "Be Vietnam Pro", sans-serif;
}
.yourtrees {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  display: inherit;
  align-items: center;
  text-align: right;
  color: #545e7a;
}
.dashboardt {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  color: #1c5a40;
}
.view-button {
  color: #fff;
  background-color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
}
.coupons-card {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  margin-top: 1rem;
}
#coupons-card {
  width: 18rem;
  background: #5abcd2;
}
.dashboard-card-btn {
  margin-top: 1rem;
  background: #d9d9d9;
  border: 1px solid #d7cece;
  border-radius: 7px;
}
.user-info {
  margin: 0px 20px;
}
#dashboard-main-card {
  padding-bottom: 2rem;
}
#planted {
  display: inherit;
}
/* transaction list */
@media screen and (max-width: 768px) {
  #no-more-tables tbody,
  #noimore-tables-open tbody,
  #no-more-tables tr,
  #noimore-tables-open tr,
  #no-more-tables-open td,
  #no-more-tables td {
    display: block;
  }
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #no-more-tables td {
    position: relative;
    padding-left: 50%;
    border: none;
    border-bottom: 1px solid#eee;
  }
  #no-more-tables-open td {
    position: relative;
    border: none;
    border-bottom: 1px solid#eee;
    padding-left: 0%;
  }
  #no-more-tables td::before {
    content: attr(data-title);
    position: absolute;
    left: 6px;
    font-weight: bold;
  }

  #no-more-tables tr {
    border-bottom: 2px solid rgb(104, 104, 104);
  }
  #no-more-tables-open tr {
    border-bottom: 1px solid rgb(182, 178, 178);
  }
  .coupons-card {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .yourtrees {
    display: flex;
    justify-content: center;
  }
  .badge-success {
    display: inline-block;
  }
}

@media screen and (max-width: 468px) {
  .transactionfill {
    flex-direction: column;
  }
  .any {
    margin-top: 20px;
    display: inline-flex;
  }
}
