h3 {
  color: #1c5a40;
  font-family: "Mulish", sans-serif;
}
section {
  background: #92b9a8;
  height: 100vh;
}
.allcard {
  margin-top: 80px;
}
.row {
  row-gap: 50px;
  justify-content: center;
}
.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  border: none;
}
.card > img {
  border-radius: 16px 16px 0px 0px;
}
.card-body {
  display: flex;
  text-align: initial;
  flex-direction: column;
}
.card-title {
  text-align: center;
}
.bannerimage > img {
  width: 100%;
  height: 10vh;
  object-fit: cover;
}
.card-info {
  display: flex;
  justify-content: space-between;
}

/* test page csss */
.filetype {
  display: flex;
  justify-content: inherit;
}
.maininput {
  display: flex;
  column-gap: 30px;
}
.submitbuttonform {
  display: flex;
  justify-content: start;
}
.table1,
.table2 {
  display: contents;
  margin-bottom: 20px;
}
.transaction-card {
  display: flex;
}
.transactionCardColor {
  background-color: #cee5db;
}
table > tr > th {
  color: #1c5a40;
}
.transactionbody {
  row-gap: 20px;
}
select {
  width: 25%;
  padding: 10px;
  border-radius: 10px;
}
.formop {
  width: 300px;
  height: 50px;
  position: relative;
}
.formop input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #1c5a40;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
}
.form label {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgb(22, 22, 22);
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  padding: 0 5px;
}
.form input:focus ~ label {
  top: -12px;
  background-color: #fff;
}
.submitbuttonform {
  display: inline-flex;
}

@media screen and (max-width: 468px) {
  .maininput {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 325px) {
  .card-info {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
