.transactionfill {
  display: flex;
  column-gap: 30px;
}
.addbutton {
  display: flex;
}
.cardinput {
  display: flex;

  row-gap: 30px;
}

.formop1 {
  width: 300px;
  height: 50px;
  position: relative;
}
.formop1 input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #1c5a40;
  border-radius: 10px;
  outline: none;
  padding: 0px 10px;
}
.formop1 label {
  position: absolute;
  top: 8px;
  left: 15px;
  color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.3s;
  line-height: 36px;
  font-weight: 500;
  padding: 0 5px;
}
.formop1 input:valid ~ label,
.formop1 input:focus ~ label {
  top: -18px;
  background-color: #fff;
}
.form2 {
  display: flex;
  justify-content: center;
}
.inputfatch {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.submitbuttonform {
  display: inline-flex;
}
.rounded-circle {
  width: 80px;
}
.table > thead > tr > th {
  color: #1c5a40;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
}
.table > tbody > tr > td {
  font-family: "Be Vietnam Pro", sans-serif;
}
/* dashboard */
.badge-success {
  padding: 12px;
}
.dashboardt {
  font-family: " Be Vietnam Pro ", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  color: #1c5a40;
}
@media screen and (max-width: 468px) {
  .transactionfill {
    flex-direction: column;
  }
  .any {
    margin-top: 20px;
    display: inline-flex;
  }
}
